# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment
.env
.venv/
venv/

# WhatsApp profile (jangan upload sesi login)
wa_profile/
wa_profile_edge/

# Data kontak pribadi
kontak.csv

# Database PyWhatKit
PyWhatKit_DB.txt

# OS
.DS_Store
Thumbs.db
